  .text-vivid-orange {
      color: #ff9500;
  }

  .content-alignment {
      padding: 100px 0;
      width: 461px;
  }

  .bg-shoe-img {
      background-size: 75%;
      height: calc(100vh - 126px);
      background-repeat: no-repeat;
      background-position: 57%;
      background-position-y: center;
  }

  .container-width {
      max-width: 1140px;
      margin: 0 auto;
  }

  .fs-14 {
      font-size: 14px;
  }

  .fs-12 {
      font-size: 12px;
  }

  a.router-link-exact-active li {
      border-bottom: 2px solid #000;
      padding-bottom: 0 !important;
  }

  @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      .bg-shoe-img {
          height: calc(100vh - 517px) !important;
      }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      .bg-shoe-img {
          height: calc(100vh - 871px) !important;
      }
  }

  @media(max-width:1024px) {
      .bg-shoe-img {
          height: calc(100vh - 256px);
      }

      .card-shoe-img {
          height: 100px !important;
          width: 100px !important;
      }

      .card-container:hover .card-btn-buy {
          padding: 0.375rem 2rem !important;
      }

      .about .bg-shoe-img::before {
          left: 11% !important;
      }
  }

  @media(max-width:991px) {
      .bg-shoe-img {
          height: calc(100vh - 675px);
      }

      .home .bg-shoe-img::before {
          height: 36% !important;
          top: 19% !important;
      }

      .content-alignment {
          padding: 60px 0;
          width: 355px;
      }

      .about .bg-shoe-img::before {
          height: 222px !important;
          width: 222px !important;
          top: 18% !important;
          left: 12% !important;
      }

      .billing-form {
          max-width: 688px !important;
      }
  }

  @media(max-width:767px) {
      .home .bg-shoe-img::before {
          height: 22% !important;
          top: 13% !important;
          width: 53% !important;
          left: 26% !important;
      }

      .bg-shoe-img {
          height: 350px !important;
          background-size: 50% !important;
      }

      .font-size-3 {
          font-size: 2.5rem !important;
      }

      .content-alignment {
          padding: 15px 0;
          width: 308px;
          margin: 0 auto;
      }

      .home-bg-dot-img[data-v-fae5bece] {
          background-repeat: no-repeat;
          background-position: 84% 2%;
      }

      .about .bg-shoe-img::before {
          height: 150px !important;
          width: 150px !important;
          top: 12% !important;
          left: 32% !important;
      }

      .billing-form {
          max-width: 100%;
          margin: 10px;
      }
  }